<?xml version="1.0" encoding="utf-8" ?>
<!--
/**************************************************************************
Copyright 2015 Carsten Gehling

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
**************************************************************************/
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StopWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <StopWatch.Properties.Settings>
            <setting name="IssueCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PersistedIssues" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraBaseUrl" serializeAs="String">
                <value>http://myjiraserver.local/</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveTimerState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseOnSessionLock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowMultipleTimers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PostWorklogComment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartTransitions" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeProjectName" serializeAs="String">
                <value>False</value>
            </setting>
        </StopWatch.Properties.Settings>
    </userSettings>
</configuration>